h1{
			color: purple; 
			border : dashed green 2px;
		}
		li{
			color: orange;
			background: rgb(100,100,80);
		}
		body
		{
			background :url(C:\Users\buste\OneDrive\Pictures\tom);
		}